<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Incidents</title>
</head>
<body>
<h1>Incidents</h1>
<h2>List:</h2>
  <table>
    <tr>
      <th>ID</th>
      <th>TITLE</th>
      <th>CATEGORY</th>
      <th>PRIORITY</th>
      <th>Check</th>
    </tr>
    <tr th:each="i: ${incidents}" >
      <td th:text="${i.id}"></td>
      <td th:text="${i.title}"></td>
      <td th:text="${i.category}"></td>
      <td th:text="${i.priority}"></td>
      <td><a th:href="@{/incidents/{id}(id=${i.id})}">View</a></td>
    </tr>
  </table>

  <h2>Add a new incident:</h2>
  <form action="/incidents" method="post">
    Title: <input type="text" name="title"><br>
    Category: <input type="text" name="category"><br>
    Priority: <input type="text" name="priority"><br>
    <button type="submit">Add incident</button>
  </form>

</body>
</html>